extends layout

block content
  h1 #{card.name}

  img(class='image' src=json.image_uris.normal)

  div(class='quantity')
    |Quantity: #{card_instances.length}
  ol(class='card-detail-ol')
    |Instances
    each cardinstance in card_instances
        li 
          if cardinstance.deck != null
              a(href=cardinstance.deck.url) 
                  |#{cardinstance.deck.name}
          else 
              a(href=cardinstance.url)
                  |Not in a deck
          form(method='POST' action='')
            input(type="hidden" name='id' value=cardinstance.id)
            button 
              i.fa-solid.fa-delete-left
            
                