extends layout

block content
  h1 #{name}
  div
    |Quantity: #{card_instances.length}
  ul(class='deck-detail-list')
    |Cards
    each cardinstance in card_instances
        li 
            a(href=cardinstance.url) 
              |#{cardinstance.card.name}
            form(method='POST' action='')
              input(type="hidden" name='id' value=cardinstance.id)
              button
                i.fa-solid.fa-delete-left